{{ define "main" }}

<div class="site-software-single-header" style="background-image: url(../{{ .Params.image }});">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-software-single">
          <h1>
            {{ .Title }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="site-geocat-examples" id="geocat-examples">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p>{{ .Params.description | markdownify }}</p>
      </div>
    </div>
  </div>
</section>

<section class="site-collaborations">
  <div class="container">
    {{ range .Site.Data.collaborations.collaborations }}
    <div class="collaboration-section">
      <div style="display: flex; align-items: center;">
        <div class="collaboration-logo">
          {{ if .logo }}
            <img src="{{ .logo | absURL }}" alt="{{ .title }} logo">
          {{ end }}
        </div>
        <h2><a href="{{ .url }}">{{ .title }}</a></h2>
      </div>      
      <p>{{ .description | safeHTML }}</p>

      {{ if .gallery }}
      <div class="gallery row">
        {{ range .gallery }}
        <div class="col-lg-4 col-md-6 col-sm-12">
          <a href="{{ .url }}" class="text-decoration-none">
            <div class="gallery-item">
              <div class="gallery-item-thumb">
                <img src="{{ .image | absURL }}" alt="{{ .title }}" class="img-fluid">
              </div>
              <div class="gallery-item-content text-center">
                <h3>{{ .title }}</h3>
              </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
      {{ end }}  <!-- end gallery loop -->

    </div> <!-- end collaboration-section -->
    {{ end }}  <!-- end collaborations range -->
  </div> <!-- end container -->
</section>  <!-- end site-collaborations -->

{{ end }}
