<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{ $softwareItems := where $.Site.RegularPages "Type" "software" }}
    {{ $geocatExamples := .Site.GetPage "geocat_examples" }}

    {{ $carouselItems := $softwareItems }}
    {{ if $geocatExamples }}
      {{ $carouselItems = union $carouselItems (slice $geocatExamples) }}
    {{ end }}

    {{ range $index, $element := $carouselItems }}
      <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
        <div class="carousel-img" style="background-image: url('{{ $element.Params.image | absURL }}');">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="site-hero-content text-center">
                <h1><a href="{{ $element.Permalink }}" style="-webkit-text-stroke: 2px black;">{{ $element.Params.title }}</a></h1>
                <h3><a href="{{ $element.Permalink }}" style="-webkit-text-stroke: 1px gray;">{{ $element.Params.tagline }}</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
