{{ define "main" }}

<section class="site-about-header" style="background-image: url({{ .Params.image | absURL }});">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>
          {{ .Title }}
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="site-about-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-mission">
            <p>
              {{ .Params.mission }}
            </p>
          </div>
          <div class="site-about-additional">
            <p>
              {{ .Content }} <br><br>
            </p>
            <div style="text-align: center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/-ElqWVIAXpI?si=MS5SrcDGerFBBelx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "team.html" . }}

{{ partial "team_alumni.html" . }}

{{ end }}