{{ define "main" }}

<section class="site-software-header" style="background-image: url({{ .Params.image | absURL }});">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="site-software-header-content">
          <h1>
            GeoCAT Software
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-software" id="active-dev-software">
  <div class="container">
    <h2>
      Active-Development Packages
    </h2>
    <div class="row">
      {{ range .Site.Data.active_dev.items }}
      <div class="col-lg-6 col-md-10 mx-auto">
        <a href="{{ .url }}" class="text-decoration-none">
        <div class="site-software-item">
          <div class="site-software-item-thumb">
            <img src="{{ .image | absURL }}" alt="software-thumb">
          </div>
          <div class="site-software-item-content">
            <h3>{{ .package }}</h3>
            <span>{{ .tagline }}</span> <!-- Ensure you have this in your YAML -->
          </div>
        </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="site-software site-software-gallery" id="geo-cat-resources" style="background-color: #f2f2f2;">
  <div class="container">
    <h2>
      GeoCAT Educational Resources
    </h2>
    <div class="row">
      {{ range .Site.Data.resources.items }}
      <div class="col-lg-6 col-md-10 mx-auto">
        <a href="{{ .url }}" class="text-decoration-none">
        <div class="site-software-item">
          <div class="site-software-item-thumb">
            <img src="{{ .image | absURL }}" alt="software-thumb">
          </div>
          <div class="site-software-item-content">
            <h3>{{ .package }}</h3>
            <span>{{ .tagline }}</span> <!-- Ensure you have this in your YAML -->
          </div>
        </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="site-software site-software-gallery" id="maintenance-software" style="background-color: #d0d0d0;">
  <div class="container">
    <h2>
      Under Maintenance
    </h2>
    <p style="color: black;">Blurb describing what we mean by maintenance software.</p>
    <div class="row">
      {{ range .Site.Data.maintenance.items }}
      <div class="col-lg-6 col-md-10 mx-auto">
        <a href="{{ .url }}" class="text-decoration-none">
        <div class="site-software-item">
          <div class="site-software-item-thumb">
            <img src="{{ .image | absURL }}" alt="software-thumb">
          </div>
          <div class="site-software-item-content">
            <h3>{{ .package }}</h3>
            <span>{{ .tagline }}</span> <!-- Ensure you have this in your YAML -->
          </div>
        </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
