{{ define "main" }}

<div class="site-galleries-single-header" style="background-image: url(../../{{ .Params.image }});">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-galleries-single">
          <h1>
            {{ .Title }}
          </h1>
          <h4>
            {{ .Params.tagline }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="site-galleries-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-galleries-single">
          <div class="site-galleries-buttons">
            <a class="btn btn-primary btn-lg" href="{{ .Params.docs }}" role="button">Documentation</a>
            <a class="btn btn-primary btn-lg" href="{{ .Params.repo }}" role="button">GitHub</a>
          </div>
          <div class="site-galleries-single-description">
            {{ .Content }}
          </div>
          {{ if .PrevInSection }}
          <div class="site-galleries-single-previous">
            <a href="{{.PrevInSection.Permalink}}">
              <img src="{{ "images/to-top.svg" | absURL }}" alt="previous">
              <span class="link-area">
                <span data-text="Previous">Previous</span>
              </span>
            </a>
          </div>
          {{ end }}
          {{ if .NextInSection }}
          <div class="site-galleries-single-next">
            <a href="{{.NextInSection.Permalink}}">
              <span class="link-area">
                <span data-text="Next">Next</span>
              </span>
              <img src="{{ "images/to-top.svg" | absURL }}" alt="next">
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}